@page "/"
@inject IJSRuntime JS


<div class="position-relative">

    <ul @ref="controlsSlider" class="controls">
        <li class="prev">
            <i class="fas fa-angle-left fa-1x "></i>
        </li>
        <li class="next">
            <i class="fas fa-angle-right fa-1x "></i>
        </li>
    </ul>

    <div @ref="bannerSlider">
        <div class="">
            <img class="img-fluid" src="https://dummyimage.com/1000x450/000/fff" />
        </div>
        <div class="">
            <img class="img-fluid" src="https://dummyimage.com/1000x450/00D1FF/000" />
        </div>
        <div class="">
            <img class="img-fluid" src="https://dummyimage.com/1000x450/E4FF00/000" />
        </div>
    </div>
</div>




@code {
    private ElementReference bannerSlider;
    private ElementReference controlsSlider;

    protected override void OnAfterRender(bool firstRender)
    {
        Task.Run(async () => await JS.InvokeVoidAsync("InitBannerSliderJs", bannerSlider, controlsSlider));
    }
}
